body {
    background-color: #E7EBF0;
}

.black-bar {
    background-color: black;
    height: 100px;
    width: 1920px;
    position: absolute;
    left: 50%;
    margin-left: -960px;
    top: 145px;
}

.button {
    width: 250px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #E7EBF0;
    background-color: #E7EBF0;
    color: black;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Roboto, 'Source Sans Pro'
}

.button:hover {
    background-color: #ddd;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.forms-button {
    top: 165px;
    left: 71px;
}

.create-test {
    width: 224px;
    height: 60px;
    top: 44px;
    left: 1312px;
    border-radius: 40px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: Roboto, 'Source Sans Pro'
}

.modal-content {
    border-radius: 10px;
    border: 1px solid #E7EBF0;
    background-color: #E7EBF0;
    position: absolute;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    font-family: Roboto, 'Source Sans Pro'
}

.profile {
    width: 300px;
    height: 169px;
    top: -11px;
    left: 1752px;
    border-radius: 10px;
    border: 1px solid #E7EBF0;
    background-color: #E7EBF0;
    position: absolute;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-data {
    width: 72.81px;
    height: 59.65px;
    font-size: 13px;
    top: 44px;
    left: 1764px;
}

.my-classes {
    width: 800px;
    height: 650px;
    top: 295px;
    left: 59px;
}

.class-list {
    width: 310px;
    height: 320px;
    top: 154px;
    left: 36px;
}

.student-list {
    width: 370px;
    height: 320px;
    top: 154px;
    left: 389px;
}

.title {
    text-align: center;
}

.create-class {
    width: 750px;
    height: 650px;
    top: 295px;
    left: 1111px;
}

.input {
    width: 427px;
    height: 38px;
    border-radius: 10px;
    border: 1px solid #E7EBF0;
    background-color: #E7EBF0;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.class-name {
    top: 187px;
    left: 162px;
}

.students-count {
    top: 253px;
    left: 161px;
}

.student-name {
    top: 154px;
    left: 162px;
}

.student-id {
    top: 220px;
    left: 162px;
}

.add-class {
    top: 540px;
    left: 257px;
}

.create-class-button {
    width: 150px;
    height: 60px;
    top: 540px;
    left: 301px;
}

.add-student-button {
    width: 150px;
    height: 60px;
    top: 300px;
    left: 301px;
}

.column {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
}

.row {
    display: flex;
    border-bottom: 1px solid #E7EBF0;
}

.new-student-button {
    width: 25px;
    height: 25px;
}

.add-student {
    width: 750px;
    height: 420px;
    top: 293px;
    left: 990px;
}